
<div class="ui container">
  <div class="ui aligned basic segment">
    <div class="ui horizontal divider">
      Delete
    </div>
    <div class="two fields">
      <div class="field">
          Confirmez la suppression de "{{dev.identify}}" ?
      </div>
      <div class="field">
        <button {{action "confirmDeletion" model}} class="ui green button">Confirmer</button>
        <button {{action "cancelDeletion" model}} class="ui red button">Annuler</button>
      </div>
    </div>
  </div>
</div>

{{outlet}}
